<div id="project_modal" class="modal fade show_model" role="dialog">
  	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      	<div class="modal-header">
	      		<h5>project1</h5>
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	      	</div>

	      	<div class="show_content">
				<p>
				  <strong>Title:</strong>
				  <%= @project.title %>
				</p>

				<p>
				  <strong>Description:</strong>
				  <%= @project.description %>
				</p>
				<%= link_to 'Edit', edit_project_path(@project), remote: true, class: "show_btn"%>
	      	</div>
	    </div>
  	</div>
</div>