body{font-family: 'Open Sans', sans-serif; font-size:14px; color:#333; font-weight:normal;}



/* =Box Sizing 
========================================================================================*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea, select, input[type="button"], input[type="submit"], button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;  }

/*Common CSS*/

p,
label{margin:0; padding:0; color:#333;}
h1, h2, h3, h4, h5, h6{padding:0; margin:0; font-family:'Open Sans', sans-serif;}
a{color:#7951a2; font-weight:600; text-decoration:none !important;}
/*a:hover {color: #572c82 !important;}*/
a:focus,
input:focus,
button:focus,
select:focus{outline:none;}
ol, ul{margin:0; padding:0; list-style:none;}
img{max-width:100%;}


.gray_bg{background:#eee; padding:90px 0; min-height:700px;}
.white_bg{max-width:450px; margin:0px auto; background:#fff; padding:20px; border:2px solid #ddd;}
.button {background: #7951a2; border: 0 none;}
.button:hover {background: #643891;}
.form-control{font-size: 14px; border-radius: 0; margin-bottom: 15px; line-height: 30px; border:2px solid #ddd; padding:5px 15px;}
.form-control:focus,
input:focus{border-color:#7951a2; box-shadow:none; border-width:2px;}
h2.main-ttl {font-size: 22px; line-height: 34px; font-weight:bold;}
h4.sub_ttl {font-size: 18px; margin-bottom: 12px; color: #333; line-height:24px;}

.margin_top_15{margin-top:15px;}
.margin_bottom_50{margin-bottom:50px;}
.padding_top_15{padding-top:15px !important;}

.alert-info{background-color:#7951a2; border-color:#7951a2; color:#fff;}





/*Header*/

header {background: #fff; box-shadow:2px 2px 10px #c8c8c8;}
header .header-block .logo{width:40%;}

header .header-block .search{width:20%; position:relative;}
header .header-block .search i.fa-search{position: absolute; top: 9px; font-size: 18px; color: #9f6fd1; left: 9px;}
header .header-block .search i.fa-times{position: absolute; top: 9px; font-size: 18px; color: #9f6fd1; right: 9px;}
header .header-block .search input{border: 1px solid #ddd; line-height: 35px; width: 100%; padding: 0 30px 0 35px;}
header .header-block .navbar-dark .navbar-nav .nav-item{padding:10px 20px;}
header .header-block .navbar-dark .navbar-nav .nav-link {color: #333; font-weight:bold; font-size:16px; padding:0;}
header .header-block .navbar-toggler{background-color: #7951a2;  border: 1px solid #333;}



/**/

.account-wrapper .account-wall {max-width: 330px; margin: 40px auto 20px;}
.account-wrapper .forgot_password{color:#7951a2; font-weight:600; text-decoration:none;}
.button{display: block; width: 100%; color: #fff; font-size: 18px; padding: 10px 0; font-weight: 600; cursor: pointer;}

.account-wrapper .login-btn,
.account-wrapper .sign-btn,
.account-wrapper .forgot-btn{margin:20px 0 15px;}
a.join-yet{color:#333; text-decoration:none;}



.or {text-align: center; max-width: 200px; margin: 30px auto; position: relative;}
.or:before {content: ""; border-bottom: 1px solid #333; display: block;}
.or span {text-transform: uppercase; text-align: center; background: #fff; position: absolute; top: -14px; padding: 0 15px; left: 50%; transform: translateX(-50%); font-size:18px;}
.social-media-btn{}
a.fb {background: #597fab; display: block; text-align: center; color: #fff; font-size: 20px; font-weight: bold; padding: 9px 0; line-height: initial;}
a.google {background: #e26667; display: block; text-align: center; color: #fff; font-size: 20px; font-weight: bold; padding: 9px 0; line-height: initial;}

/*Custom checkbox*/
.custom-checkbox {display: block; position: relative; padding: 0px 0 0 27px; cursor: pointer; font-size: 14px; -webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none; user-select: none; color:#111; font-weight:normal;}
.custom-checkbox input {position: absolute; opacity: 0; cursor: pointer;}
.checkmark {position: absolute; top: 2px; left: 0; height: 18px; width: 18px; border:1px solid #ddd; border-radius:3px;}
.custom-checkbox input:checked ~ .checkmark {background-color: #7951a2;}
.checkmark:after {content: ""; position: absolute; display: none;}
.custom-checkbox input:checked ~ .checkmark:after {display: block;}
.custom-checkbox .checkmark:after {left: 6px; top: 3px; width: 5px; height: 9px; border: solid white; border-width: 0 3px 3px 0;  -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);    transform: rotate(45deg);}




/*Signup*/

.custom-radio{margin:15px 0;}
.custom-control-label::before{background-color:transparent; border:1px solid #ddd; box-shadow:none;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before{background-color:#7951a2}
.custom-control-input:focus ~ .custom-control-label::before{box-shadow:none;}

/*Forgot*/

.login-sing-link {margin-top: 15px;}






/
/*Footer*/

footer{background:#7951a2; padding:30px 0;}
footer .footer_wrapper{text-align:center;}
footer .footer_wrapper .footer_logo{color:#fff; font-size:16px;}
footer .footer_wrapper .footer_logo p{margin-top:15px; color: #ebebeb;}
footer .footer_wrapper .footer_logo p i{color:#372a74;}
.copyright{padding:15px 0; background: #4f336c;    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;}
.copyright .copyright_wrapper .footer_social li {display: inline-block; padding: 0 14px;}
.copyright .copyright_wrapper p{color:#fff;}
.copyright .copyright_wrapper .footer_social{text-align:right;}
.copyright .copyright_wrapper .footer_social li a,
.copyright .copyright_wrapper .footer_social li a i{color:#fff; font-size:16px; text-decoration:none;}
.copyright .copyright_wrapper .footer_social li a:hover{color:#f3f3f3 !important;}





/*Media*/

@media screen and (max-width:768px){
	header .header-block .navbar-toggler{padding:0;}
	
}

@media screen and (max-width:767px){
	
}
@media screen and (max-width:320px){
}

label {
    display: initial !important;
}